{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{user.username}} - Watch List</h2>
    
    <div class="container">
        <div class="row border mb-2 h4">
            <div class="col-sm-4 text-capitalize h5">
                Listing
            </div>
            <div class="col-sm-8 text-capitalize h5">
                description
            </div>
        </div>
        {% for item in watchlist_items %}
            <div class="row border mb-2">
                <div class="col-sm-4 text-capitalize h4">
                    <a href="{% url 'auction_listing' item.id %}">
                        {{item.title}}
                    </a>
                </div>
                <div class="col-sm-8 text-capitalize">
                        {{item.description}}
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}