body,html{
    height:100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.home_header{
    font-size: 14px;
}

.home_header a, i{
    padding: 5px;
    margin: 2px;
    color: grey;
}

.sign-btn{
    font-size: 14px;
    font-weight: bold;
}

.search_bar{
    height: 115px;
}

.index_img{
    height: 220px;
    width: 395px;

}

.search_text_bar{
    border-radius: 75px;
    height: 50px;
    width: 550px;
    margin: 8px;
    padding-left: 3.375rem;
}

.search_btn{
    color: grey;
    margin: 5px;
}

.header {
    position: sticky;
    width: 100%;
    /* Set the fixed height of the header here */
    height: 40px;
    font-size: small;
    
}

.body_title {
    position: static;
    width: 100%;
    font-size: small;
    border: blue;
    border-width: thick;
}
.body_title p{
    color: rgb(201, 69, 51);
    font-size: 24px;
    margin-left: 10px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    font-size: small;    
}

select{
    font-weight: bold;
    font-size: smaller;
}

select option{
    font-weight: bold;
    font-size: smaller;
}


.footer a{
    color: grey;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer_adv {
    position: static;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    font-size: small;    
}

.footer_adv a{
    color: grey;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.images_img{
    height: 130px;
    width: 300px;
}

.adv_logo_img{
    height: 40px;
    width: 80px;
}

.adv_desc{
    font-size: 0.7rem;
}

.search_icon{    
    position: absolute;
    z-index: 2;
    display: block;
    width: 4.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}